/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

.version-dropdown{
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 50;
}
.version-dropdown .dropdown-menu{
    right: 0;
    left: auto;
    width: 80px;
    min-width: 80px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -15px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar .nav-submenu > .active > a,
.nav-sidebar .nav-submenu > .active > a:hover,
.nav-sidebar .nav-submenu > .active > a:focus{
    color: #fff;
    background-color: #428bca;
}
.nav-sidebar .nav-submenu{
    padding-left: 20px;
    font-size: 12px;
}
.sidebar{
    background-color: #f5f5f5;
}

/* Hide for mobile, show later */
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    .nav-sidebar {
        margin-right: -21px;
    }
    .navbar-collapse.col-md-2{
        width: 16.66666667%;
        overflow: auto !important;
        overflow-x: hidden !important;
    }
}
@media (max-width: 992px) {
    .navbar-collapse.col-sm-3{
        width: 25%;
    }
}
@media (max-width: 767px) {
    .navbar-collapse.col-sm-3{
        width: 100%;
        position: absolute;
        z-index: 100;
    }
}

.navbar-header.left-navbar{
    float: left;
    margin-left: 0;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.main .page-header {
    margin-top: 0;
}
.well pre{
    background-color: #fff;
}
.well h3{
    margin-top: 0;
    margin-bottom: 20px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.label-black{
    font-size: 12px;
    background: black;
}

/*
 * .code-well
 */
.code-well{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 0;
    border: none;
}
.code-well.open{
    cursor: default;
}
.code-well .shadow{
    background: transparent;
    width: 120%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: -15px;
    opacity: 0.5;
    box-shadow: gray 0 -24px 20px;
}
.code-well.open .shadow{
    display: none;
}
.code-well pre{
    border-radius: 0 4px 4px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #f5f5f5;
    overflow: auto;
    background: #f5f5f5;
    color: #111;
}
.code-well pre code{
    display: inline-block;
}
.code-well pre code .highlighted{
    background: #ddd;
    display: inline-block;
    width: 100%;
}
.code-well .line-numbers{
    float: left;
    padding: 10px 3px;
    line-height: 18px;
    background: #f5f5f5;
    border-radius: 4px 0 0 4px;
}
.code-well .line-numbers a{
    display: block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-align: right;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.code-well .line-numbers a i{
    float: left;
    visibility: hidden;
}
.code-well .line-numbers a:hover i{
    visibility: visible;
}
.code-well pre.line{
    background: #f5f5f5;
    color: #111;
}

/* HIGHLIGHT */
.well pre.php{
    background: #f5f5f5;
    color: #111;
}
.keyword{
    color: darkblue;
    font-weight: bold;
}
.definition{
    color: #111;
    font-weight: bold;
}
.variable{
    color: saddlebrown;
}
.property{
    color: green;
}
.method{
    color: blue;
}
.string,
.string span{
    color: darkred !important;
    font-weight: normal;
}
.constant{
    color: #111;
}
.cls-constant{
    color: green;
}
.comment,
.comment span{
    color: #7f7f76 !important;
    font-weight: normal;
}
.important-comment,
.important-comment span{
    color: #c12100;
    font-weight: bold;
}
.number{
    color: #6897bb;
}